.home-top
  自動デプロイ成功!プルリク
.home-link
  = link_to new_user_registration_path do
    新規登録へ
.home-link
  = link_to destroy_user_session_path, method: :delete do
    ログアウト
-if user_signed_in?
  .home-title
    ログイン中...